#recipe-form {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 80px;
  margin-bottom: 20px;
  color: white;
  flex-direction: column;
  align-items: center;
  background-color: lightslategrey;
}

#new-recipe {
  display: block;
  font-family: sans-serif;
  margin-bottom: 5px;
  color: aliceblue;
  font-weight: bold;
}

#recipe-title-input {
  display: block;
  font-family: sans-serif;
  margin-bottom: 5px;
  padding: 5px;
  width: 500px;
  border: none;
  border-bottom: darkblue solid 2px;
}

#recipe-ingredients-input {
  display: block;
  font-family: sans-serif;
  margin-bottom: 5px;
  padding: 5px;
  width: 500px;
  border: none;
  border-bottom: darkblue solid 2px;
}

#recipe-instructions-input {
  display: block;
  font-family: sans-serif;
  margin-bottom: 5px;
  padding: 5px;
  width: 500px;
  border: none;
  border-bottom: darkblue solid 2px;
}

input:focus {
  outline: none;
  background-color: aliceblue;
}

textarea:focus {
  outline: none;
  background-color: aliceblue;
}

#add-recipe {
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  margin-top: 5px;
}

#add-recipe:hover {
  cursor: pointer;
  background-color: skyblue;
  color: white;
}

@media only screen and (max-width: 768px) {
  #recipe-form {
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
  }

  #recipe-title-input,
  #recipe-ingredients-input,
  #recipe-instructions-input {
    width: 90%;
  }
}
