#recipes-container {
  background-color: aliceblue;
  margin: 0px 10px;
  padding: 0 10px;
}

#recipe-title {
  font-family: sans-serif;
  font-weight: 600;
}

#recipe-instructions {
  font-family: sans-serif;
}

#delete-recipe {
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  margin-bottom: 10px;
}

#delete-recipe:hover {
  cursor: pointer;
  background-color: skyblue;
  color: white;
}

#edit-recipe {
  background-color: lightsalmon;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  width: 100px;
  margin-bottom: 10px;
}

#edit-recipe:hover {
  cursor: pointer;
  background-color: darksalmon;
  color: white;
}

#save-button {
  background-color: lightsalmon;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  width: 100px;
  margin-bottom: 10px;
}
